/* LIGHT PURPLE #d1d1e9  */
/* FONT COLOR #2b2c34  */
/* DARK PURPLE #6246ea  */

body {
	background-color: #f2efef !important;
}

hr {
	border: 1px solid #6246ea !important;
	opacity: 1;
}

.nav-pills {

}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	background-color: #6246ea;
	color: #fff !important;
}

.disabled {
	
}

.modal-content {
	border: 2px solid #6246ea !important;
	border-radius: 8px;
}

.form-check-input:checked {
	background-color: #6246ea;
	border-color: #6246ea;
}

.card {
	border: none;
	border-radius: 8px !important;
	border-bottom: 1px solid #c0c0c0;
	background-color: #fff;
	margin-bottom: 10px;
	box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
}

.navbar {
	border-bottom: 3px solid #6246ea; 
	background-color: #FFF !important;"
}

.navbar-brand {

}

.navbar-brand img {
	max-width: 200px;
}

.nav-link {
	color: #333 !important;
	font-weight: 500;
	font-size: 18px;
}

.nav-item {
	padding-left: 12px;
}

.form-control,
.form-select {
	background-color: #eeeef7 !important;
}

.job-title {
	/*color: #DC3545;*/
	color: #2b2c34;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.job-title:hover {
	/*color: #dc3545;*/
	text-decoration: underline;
}

.card-header,
.card-footer {
	border: none;
	border-radius: 8px !important;
	background-color: #fff;
}

.featured {
	border: 1px solid #c0c0c0;
	/*border-left: 3px solid #DC3545;*/
	border: 2px solid #6246ea;
}

.btn-danger {
	background-color: #6246ea;
	border-color: #6246ea;
}

.bg-danger {
	background-color: #e45858 !important;
}

.bg-primary {
	background-color: #6246ea !important;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger:focus {
	background-color: #6246ea !important;
	outline: none !important;
	border-color: #6246ea !important;
}

.accordion-button:not(.collapsed) {
	color: #fff !important;
	background-color: #6246ea !important;
	outline: none !important;
}

.accordion-item:first-of-type {
	border-top-left-radius: 8px !important;
	border-top-right-radius: 8px !important;
}

.accordion-item:last-of-type {
	border-bottom-left-radius: 8px !important;
	border-bottom-right-radius: 8px !important;
}

.accordion-button:focus {
	outline: none !important;
}

.toast {
	position: absolute !important;
	z-index: 1000;
	background-color: #fff;
}









